RewriteEngine On
RewriteBase /

# Rewrite www.domain.com to domain.com
#RewriteCond %{HTTP_http://squawking1200.com} ^www\.(.*)
#RewriteRule ^(.*)       http://%1/$1 [R,L]

# if file exists, do NOT redirect
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [L]
# else redirect everything to squawk.php
RewriteRule (.*)    rewriter.php
