Color Scheme with #A25F08 #F4E6CC #FCF5EB #2F8CAB #C9E2E9 #FE4902

/* babel override for Phoenix styles */

li{
	list-decoration: none;
}

.hovering{
	background-color: LightSkyBlue !important;
	}

.clearing{
	clear: both;
	height: 1px;
	}
#container{	margin: 10px auto;
	width: 1202px;
}

#contentArea{
	border: 1px solid black;	
}

h1{
	margin: 0px;
	text-align: center;
}

h2{
	background-color: SteelBlue;
	color: white;
	margin: 0px;	
	font-size: 14px;
	padding: 2px;
}

#contentArea{
	font-size: 12px;
}


.side-component{
	float: left;	
	width: 400px;
}
	
#translatable-strings-labels-area,
h4{
	padding: 0px;
	margin: 0px;	
	background-color: LightSteelBlue;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}

.side-component h4{
}

.scrollable-area{
	width: 100%;
	height: 100px;
	overflow-y: scroll;
}

#language-area{
	}
	
.project-area{
	}
	
.full-component{
	width: 100%;
	height: 200px;
}
	
* html .full-component{
	height: 150px;
	border: 1px solid red;
}

#string-area ul.yui-nav{
	list-style: none;
}
#string-area ul.yui-nav li{
	color: white;
	background-color: SteelBlue;
	font-weight: bold;
}
#string-area ul.yui-nav li a{
}
#translation-area{
	padding: 0px;
	margin: 0px;
	}
	
#string-area h4{
	color: white;
	background-color: SteelBlue;
	font-weight: bold;
	margin: 0px;
	}	

string-choices{
	height: 100%; 
	width: 100%; 
	overflow-y: scroll;
}

#translatable-strings-labels-area{
	
}

#translation-textarea  textarea{
}


#english-current-area{
	overflow-y: scroll;
	height: 180px;
	}
	
#not-translated{
	overflow-y: scroll;
	height: 165px;
	}	
* html #not-translated{
	width: 1184px;
}
	