@charset "utf-8";

/* babel override for Phoenix styles */



form{
	margin: 0px;
	padding: 0px;
	}
	
#translation-form{
	margin: 0px;
	padding: 0px;
}

li{
	list-decoration: none;
}

#spinner{
	width: auto; 
	height: 30px;
	padding: 5px; 
	text-align: center;
	margin: 20px auto;
}
#spinner img{
	width: 16px;
	margin: 0px auto;
}
#spinner h1{
	margin: auto; 
	width: auto;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	color: black;
}
.hovering{
	background-color: LightSkyBlue !important;
}

.nontranslatable{
	background-color: LightGray;
}

.clearing{
	clear: both;
	height: 1px;
	font-size: 1px;
	}


#container #index-page{
	cursor: default;
	}
	
#container{
	margin: 10px auto;
	width: 1001px;
	cursor: pointer;
}

#contentArea{
	border: 1px solid black;	
}

h1{
	margin: 0px;
	text-align: center;
}

h2{
	background-color: SteelBlue;
	color: white;
	margin: 0px;	
	font-size: 14px;
	padding: 2px;
}

h3{
	padding: 0px;
	margin: 0px;	
	margin-top: .5em;
	font-size: .9em;
}

p{
	padding: .5em;
	margin: 0px;	
}

#contentArea{
	font-size: 12px;
}


.side-component{
	float: left;	
	width: 333px;
}
	
	
.side-component-small{
	float: left;	
	width: 130px;
	height: 113px;
}

* html .side-component-small{
	margin: 0px;
}

.side-component-small+.files{
	width: 594px;	
}

* html #files{
	width: 594px;
}

#translatable-strings-labels-area,
h4{
	padding: 0px;
	margin: 0px;	
	background-color: LightSteelBlue;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}

.side-component h4{
}

.scrollable-area{
	width: 100%;
	height: 100px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#language{
	width: 145px
	}
	
.project-area{
	}

.percentage_indicator {
	font-size: 7pt;
}

.full-component{
	width: 100%;
	height: 200px;
}
	
* html .full-component{
	height: 150px;
	border: 0px solid red;
}

#string-area ul.yui-nav{
	list-style: none;
}
#string-area ul.yui-nav li{
	color: white;
	background-color: SteelBlue;
	font-weight: bold;
}
#string-area a {
	font-size: 9pt;
	color: white;
	background-color: SteelBlue;
	font-weight: normal;
}
#string-area ul.yui-nav li a{
}
#translation-area{
	padding: 0px;
	margin: 0px;
	height: 215px;
}
#translation-area a {
	font-size: 9pt;
	color: white;
	background-color: SteelBlue;
	font-weight: normal;
}
	
#string-area h4{
	color: white;
	background-color: SteelBlue;
	font-weight: bold;
	margin: 0px;
	}	

.string-choices{
	height: 100%; 
	width: 100%; 
	overflow-y: scroll;
	overflow-x: hidden;
}

#translatable-strings-labels-area{
	
}

#translation-textarea  textarea{
}


#english-current-area{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 180px;
	}
	
#not-translated{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 165px;
	}	
* html #not-translated{
	width: 984px;
}


#index-page{
	position: relative;
	width: 700px;
	margin: 0px auto;
	border: 0px solid red;
	}
#index-page h2{
	float: left; 
	font-size: 15px; 
	margin-top: 5px; 
	background-color: white; 
	color: black;
}
#index-page p{
	margin-left: 28px;
}
#index-page img{
	float: left;	
}


#index-page a :hover{
	text-decoration: underline;
}

#trans-progress-area{
	position: absolute;
	left: auto;
	right: 0px;
	top: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px solid red;
	width: 190px;
}
#trans-progress-area h2{
	float: none;
	border-bottom: 1px solid SteelBlue;
	text-align: center;
}
#trans-progress-area dl{
	width: 150px;
	height: 8em;
	overflow-y: auto;
	overflow-x: hidden;	
	padding: 0px;
	margin: 0px auto;
	padding: 2px;
}
#trans-progress-area dt,
#trans-progress-area dd{
	float: left;
	width: 30px;
	border: 0px solid blue;
	padding: 0px;
	margin: 0px;
}
#trans-progress-area dt{
	width: 70px;
}
#trans-progress-area dd{
	clear: right;
}










#top-translators-area{
	position: absolute;
	left: auto;
	right: 0px;
	top: 11em;
	padding: 0px;
	margin: 0px;
	border: 0px solid red;
	width: 190px;
}
#top-translators-area h2{
	float: none;
	border-bottom: 1px solid SteelBlue;
	text-align: center;
}
#top-translators-area dl{
	width: 150px;
	height: 8em;
	overflow-y: auto;
	overflow-x: hidden;	
	padding: 0px;
	margin: 0px auto;
	padding: 2px;
}
#top-translators-area dt,
#top-translators-area dd{
	float: left;
	width: 30px;
	border: 0px solid blue;
	padding: 0px;
	margin: 0px;
}
#top-translators-area dt{
	width: 70px;
}
#top-translators-area dd{
	clear: right;
}


















#translation-history{
	height: 180px;
	overflow-y: auto;
	overflow-x: hidden;
}
